<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_loyaltytier">
        <observer name="ict_loyaltytier_recollect_quotes_after_config_change" instance="Ict\LoyaltyTier\Observer\RecollectActiveQuotesAfterConfigChange" />
    </event>
</config>
